/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f4f6f9;
}

/* ================= NAVBAR ================= */
.navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#3b83f68e;
    z-index:10;
}

.logo{
    font-size:24px;
    font-weight:700;
    color:white;
}

.signin-btn{
    background:#3b82f6;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
    text-decoration:none;
}

.signin-btn:hover{
    background:#2563eb;
}

/* ================= HERO ================= */
.hero{
    height:100vh;
    background:url("../image/Hotel.jpg") center/cover no-repeat;
    position:relative;
    display:flex;
    align-items:center;
    padding:0 8%;
    color:white;
}

.hero::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    top:0;
    left:0;
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:600px;
}

.hero-content h2{
    font-size:20px;
    font-weight:400;
}

.hero-content h1{
    font-size:60px;
    font-weight:700;
    line-height:1.2;
}

/* ================= SEARCH FORM ================= */
.search-form{
    position:absolute;
    bottom:60px;
    left:48%;
    transform:translateX(-50%);
    width:80%;
    background:white;
    padding:15px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0);
    z-index:5;
}

.search-group{
    display:flex;
    flex-direction:column;
    width: 120px;
    margin-right:15px;
}

.search-group label{
    font-size:13px;
    font-weight:600;
    margin-bottom:10px;
    color:#555;
}

.search-group input{
    padding:8px;
    border:1px solid #ddd;
    border-radius:5px;
    width:140px;
}

.search-btn{
    background:#3b82f6;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.search-btn:hover{
    background:#2563eb;
}

/* ================= RESULTS ================= */
.results-section{
    margin-top:120px;
    padding:50px 8%;
}

.section-title{
    font-size:28px;
    margin-bottom:30px;
}

.hotel-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
}

.hotel-card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.hotel-card h3{
    margin-bottom:10px;
}

.btn-book{
    display:inline-block;
    margin-top:10px;
    background:#3b82f6;
    color:white;
    padding:8px 15px;
    border-radius:6px;
    text-decoration:none;
}

.btn-book:hover{
    background:#2563eb;
}