{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Guest Details</title>
    <link rel="stylesheet" href="{% static 'customer/booking_details.css' %}">
    
</head>
<body>

<h2>Enter Guest Details</h2>

<form method="POST">
{% csrf_token %}

Check-in: <input type="date" name="checkin_date" required><br>
Check-out: <input type="date" name="checkout_date" required><br>
Guests: <input type="number" name="guests" required><br>
{% comment %} Aadhaar_no: <input type="number" name="aadhaar_no" required><br> {% endcomment %}

Payment: <select name="payment">
    <option value="cash">Cash</option>
    <option value="card">Card</option>
    <option value="upi">UPI</option>
</select>
<button type="submit" class="btn btn-outline-primary">Continue</button>
</form>
<script>
const checkin = document.getElementById("checkin");
const checkout = document.getElementById("checkout");

// --- set today's date ---
const today = new Date().toISOString().split("T")[0];
checkin.setAttribute("min", today);

// --- update checkout when checkin changes ---
checkin.addEventListener("change", function () {
    if (!this.value) return;

    let checkinDate = new Date(this.value);
    checkinDate.setDate(checkinDate.getDate() + 1);

    let minCheckout = checkinDate.toISOString().split("T")[0];
    checkout.min = minCheckout;

    // reset checkout if invalid
    if (checkout.value && checkout.value <= this.value) {
        checkout.value = "";
    }
});
</script>
</body>
</html>



