<!DOCTYPE html>
<html>
<head>
    <title>Guest Details</title>
</head>
<body>

<h2>Enter Guest Details</h2>

<form method="POST">
{% csrf_token %}

Check-in: <input type="date" name="checkin_date" required><br>
Check-out: <input type="date" name="checkout_date" required><br>
Guests: <input type="number" name="guests" required><br>
Aadhaar_no: <input type="number" name="aadhaar_no" required><br>

Payment: <select name="payment">
    <option value="cash">Cash</option>
    <option value="card">Card</option>
    <option value="upi">UPI</option>
</select>
<button type="submit">Continue</button>
</form>
</body>
</html>
{% comment %} <label>First Name</label><br>
<input type="text" required><br><br>

<label>Last Name</label><br>
<input type="text" required><br><br>

<label>Phone</label><br>
<input type="text" required><br><br>

<label>Email</label><br>
<input type="email" required><br><br>

<button type="submit">Confirm Booking</button>

</form> {% endcomment %}


