<!DOCTYPE html>
<html>
<head>
    <title>Search Hotels</title>
</head>
<body>

<h2>Search Hotels</h2>

<form>
    <label>Location</label><br>
    <input type="text" placeholder="Enter city"><br><br>

    <label>Check-in</label><br>
    <input type="date"><br><br>

    <label>Check-out</label><br>
    <input type="date"><br><br>

    <label>Persons</label><br>
    <input type="number" value="1"><br><br>

    <button type="submit">Search</button>
</form>

<hr>

<h3>Demo Hotel List</h3>

<a href="/hotel/1/">Hotel Paradise</a><br>
<a href="/hotel/2/">Hotel Royal</a>

</body>
</html>
