<!DOCTYPE html>
<html>
<head>
    <title>Manage Bookings</title>
</head>
<body>

<h2>Bookings Manage</h2>
<hr>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Hotel</th>
        <th>Guest</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for b in bookings %}
    <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.hotel.hotel_name }}</td>
        <td>{{ b.user.email }}</td>
        <td>{{ b.checkin_date }}</td>
        <td>{{ b.checkout_date }}</td>
        <td>{{ b.booking_status }}</td>

        <td>
            <form method="post" action="/super/update-booking/{{ b.id }}/">
                {% csrf_token %}

                <label>Status:</label><br>
                <select name="status">
                    <option value="confirmed" {% if b.booking_status == "confirmed" %}selected{% endif %}>Confirmed</option>
                    <option value="cancelled" {% if b.booking_status == "cancelled" %}selected{% endif %}>Cancelled</option>
                    <option value="checkedin" {% if b.booking_status == "checkedin" %}selected{% endif %}>Checked-in</option>
                    <option value="checkedout" {% if b.booking_status == "checkedout" %}selected{% endif %}>Checked-out</option>
                </select>


                <br><br>

                <label>Cancel Reason:</label><br>
                <textarea name="reason" rows="3" cols="30"></textarea>

                <br><br>
                <button type="submit">Save</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/super/dashboard/">⬅ Back to Dashboard</a>

</body>
</html>
