<!DOCTYPE html>
<html>
<head>
    <title>Super Admin Dashboard</title>
</head>
<body>

<h1>SUPER ADMIN DASHBOARD</h1>
<hr>

<h3>Management Panels</h3>

<br>

<a href="/super/owners/">
    <button>Manage Hotel Owners</button>
</a>

<br><br>

<a href="/super/hotels/">
    <button>Approve Hotels</button>
</a>

<br><br>

<a href="/super/bookings/">
    <button>Bookings Manage</button>
</a>

<br><br>

<a href="/super/payments/">
    <button>Payments Manage</button>
</a>

<br><br>

<a href="/super/customers/">
    <button>Customers Manage</button>
</a>

<br><br>

<a href="/super/reviews/">
    <button>Reviews Moderate</button>
</a>

<br><br>

<a href="/super/reports/">
    <button>Reports</button>
</a>

<br><br><br>

<hr>

<a href="/logout/">
    <button>Logout</button>
</a>

</body>
</html>
