{% extends "superadmin/base.html" %}

{% block content %}

<h2>Hotel Approval Panel</h2>
<hr>

<div class="card">
  <div class="card-body">

    <table class="table table-bordered table-striped">
      <tr>
        <th>Hotel Name</th>
        <th>Owner</th>
        <th>City</th>
        <th>Status</th>
        <th>ID Proof 1</th>
        <th>ID Proof 2</th>
        <th>Action</th>
      </tr>

      {% for h in hotels %}
      <tr>
        <td>{{ h.hotel_name }}</td>
        <td>{{ h.owner.email }}</td>
        <td>{{ h.location }}</td>

        <td>
          {% if h.status == "pending" %}
            <span class="badge bg-warning">Pending</span>
          {% elif h.status == "approved" %}
            <span class="badge bg-success">Approved</span>
          {% elif h.status == "blocked" %}
            <span class="badge bg-danger">Blocked</span>
          {% elif h.status == "rejected" %}
            <span class="badge bg-secondary">Rejected</span>
          {% endif %}
        </td>

        <td>
          <a href="{{ h.id_proof1.url }}" target="_blank" class="btn btn-info btn-sm">View</a>
        </td>

        <td>
          <a href="{{ h.id_proof2.url }}" target="_blank" class="btn btn-info btn-sm">View</a>
        </td>

        <td>
          {% if h.status == "pending" %}
            <a href="/super/approve-hotel/{{ h.id }}/" class="btn btn-success btn-sm">Approve</a>
            <a href="/super/reject-hotel/{{ h.id }}/" class="btn btn-danger btn-sm">Reject</a>

          {% elif h.status == "approved" %}
            <a href="/super/block-hotel/{{ h.id }}/" class="btn btn-warning btn-sm">Block</a>

          {% elif h.status == "blocked" %}
            <a href="/super/approve-hotel/{{ h.id }}/" class="btn btn-success btn-sm">Unblock</a>

          {% elif h.status == "rejected" %}
            Rejected
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </table>

  </div>
</div>

{% endblock %}
